@using Domain.Entities;
@{
    Layout = "_AdminLayout";
}
@model List<Spend>
@{
    if (ViewData["result"] is not null)
    {
        if ((int)ViewData["result"]! > 0)
        {
            <div class="row">
                <div class="col">
                </div>
                <div class="col-8 mt-3">
                    <h3 style="background-color: rgb(132, 253, 184);" class="shadow rounded text-center py-3" id="HtmlTeg">
                        <span>@ViewData["result"]</span> ta malumotlar muvaffaqiyatli tasdiqland!
                    </h3>
                </div>
                <div class="col"></div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col">
                </div>
                <div class="col-8 mt-3">
                    <h3 style="background-color: rgb(252, 113, 109);" class="shadow  rounded text-center py-3" id="HtmlTeg">
                        Malumotlar tasdiqlanmadi!
                    </h3>
                </div>
                <div class="col"></div>
            </div>
        }
    }
}
<div class="row py-4">
    <div class="col-6">
        <h3 class="mx-2" id="demo"></h3>
        <h1>Чиқимларни тасдиқлаш! </h1>
    </div>
    <div class="col-2 py-2">
        <div class="contianer">
            <div class="form-group">
                <div class="input-group" value=" ">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" id="Search" placeholder="Қидирмоқ..." class="form-control ">
                </div>
            </div>
        </div>
    </div>
    <div class="col-2 py-2">
        <button class="btn btn-success" onclick="exportToExcel()">Йуклаб олиш</button>
    </div>
</div>
<form asp-action="ConfirmSpend" method="post">
    <table id="dataTable" class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Вакти</th>
                <th scope="col">Нархи</th>
                <th scope="col">Чиқим тури</th>
                <th scope="col">Сабаби</th>
                <th scope="col">Тасдиқлаш</th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 1;
                foreach (var item in Model)
                {
                    int index = count - 1;
                    <tr class="Search">
                        <th scope="row">@count</th>
                        <td><span>@item.Date.ToString("HH:mm dd.MM.yyyy")</span></td>
                        <td class="price">@item.Price</td>
                        <td>@item.SpendType.Name</td>
                        <td>@item.Reason</td>
                        <td>
                            <input type="hidden" name="outDtos[@index].Id" value="@item.Id" />
                            <div class="form-check">
                                <input name="outDtos[@index].IsConfirmed" class="form-check-input" type="checkbox" value="true" id="flexCheckChecked" checked>
                            </div>
                        </td>
                    </tr>
                    count++;
                }
                <tr class="total-row">
                    <th scope="row">Жами</th>
                    <td></td>
                    <td id="totalPrice" colspan="3"></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-5">
            <button class="btn btn-success px-x py-2" type="submit"><h5 class="px-4">Сақлаш</h5></button>
        </div>
        <div class="col-5">
            <a asp-action="Choose" asp-controller="Construction" asp-route-constructionId="@ViewData["constructionId"]" class="btn btn-primary px-4 py-2"><h5 class="px-4">Orqaga</h5></a>
        </div>
        <div class="col-1">
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        function contains(text_one, text_two) {
            return text_one.indexOf(text_two) != -1;
        }

        $("#Search").keyup(function () {
            var searchtext = $("#Search").val().toLowerCase();

            // Barcha yashirilgan qatorlarni olib tashlash
            var hiddenRows = $(".Search:hidden");

            // Barcha yashirilgan qatorlarni hiddenRowsContainer ga joylashtirish
            $("#hiddenRowsContainer").empty(); // Avvalgi ma'lumotlarni tozalash
            $("#hiddenRowsContainer").append(hiddenRows);



            $(".Search").each(function () {
                if (!contains($(this).text().toLowerCase(), searchtext)) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
            var totalAmount = 0;

            $(".Search:visible .price").each(function () {
                var price = parseFloat($(this).text());
                totalAmount += price;
            });

            // Jami pricelarni chiqarish
            $("#totalPrice").text(totalAmount);
        });
    });
    function exportToExcel() {
        const table = document.getElementById('dataTable');
        const wb = XLSX.utils.table_to_book(table, { sheet: "Sheet1" });
        const wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });

        function s2ab(s) {
            const buf = new ArrayBuffer(s.length);
            const view = new Uint8Array(buf);
            for (let i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }

        const blob = new Blob([s2ab(wbout)], { type: "application/octet-stream" });
        const fileName = "data.xlsx";

        if (window.navigator && window.navigator.msSaveOrOpenBlob) {
            window.navigator.msSaveOrOpenBlob(blob, fileName);
        } else {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement("a");
            document.body.appendChild(a);
            a.href = url;
            a.download = fileName;
            a.click();
            window.URL.revokeObjectURL(url);
            document.body.removeChild(a);
        }
    }
    const myInterval = setInterval(myTimer);

    function myTimer() {
        const date = new Date();
        document.getElementById("demo").innerHTML = date.toLocaleTimeString();
    }
</script>