@using System.Web
@using Microsoft.AspNetCore.Html
@{
    string name = "ырургрг";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title> @ViewData["Title"]-InOut </title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
</head>
<body style="background-color: rgb(228, 253, 244);">
    <nav class="navbar navbar-expand-lg py-3 sticky-top" style="background-color: rgb(80, 80, 114);">
        <div class="container px-5">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                <div class="col-3"></div>
                <div class="col-6">
                    <ul class="navbar-nav me-auto mb-2   mt-1 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link mx-3 text-info" asp-action="Choose" asp-controller="In"><h4>Кирим</h4></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-3 text-info" asp-action="Choose" asp-controller="Spend"><h4>Чиқим</h4></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link mx-3 text-info" asp-action="GetResidual" asp-controller="Construction"><h4>Қолдиқ</h4></a>
                        </li>
                    </ul>
                    <div class="col-3"></div>
                </div>
            </div>
            <ul class="nav">
                <li class="nav-tem px-5" >
                    <div class="d-grid gap-3">
                        <button class="btn btn-outline-info " data-bs-toggle="modal" data-bs-target="#exampleModal" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                            </svg>
                        </button>
                   </div>
                </li>
                <li class=" nav-item">
                    <a class="btn px-4 btn-nav btn-outline-info" asp-action="LogOut" asp-controller="User">
                        <h4>Чиқиш</h4>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title mx-3" id="exampleModalLabel">Фойдаланувчи маълумотлари</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Орқага"></button>
                </div>
                <div class="modal-body">
                    <h3 class="mx-4">@ViewData["FullName"]</h3><br />
                    <h3 class="mx-4">@ViewData["Construction"]</h3><br />
                    <h3 class="mx-4" id="phoneNumber">@ViewData["PhoneNumber"]</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Орқага</button>
                    <a asp-controller="User" asp-action="UpdateLogin" class="btn btn-primary">Ўзгартириш</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
<script>
    function formatPhoneNumber() {
        var phoneNumberElement = document.getElementById("phoneNumber");
        var phoneNumber = phoneNumberElement.textContent;

        var formattedPhoneNumber = phoneNumber.replace(/(\+998)(\d{2})(\d{3})(\d{2})(\d{2})/, '$1 $2 $3 $4 $5');

        phoneNumberElement.textContent = formattedPhoneNumber;
    }
    formatPhoneNumber();
</script>